<template>
  <div class='mx-2'>
    <div class='row mb-4'>
      <div class='col-3'>
        <CurrencyPairs
        @choosePair='choosePair'/>
      </div>
      <div class='col-6'>
        <FinancialQuote
        :currencyPairHistory='currencyPairHistory'/>
      </div>
      <div class='col-3'>
        <OrderForm
        :currencyPair='choosenCurrencyPair'/>
      </div>
    </div>
    <div>
      <OrderHistory/>
    </div>
  </div>
</template>
<script>
import CurrencyPairs from '@/components/CurrencyPairs.vue'
import FinancialQuote from '@/components/FinancialQuote.vue'
import OrderForm from '@/components/OrderForm.vue'
import OrderHistory from '@/components/OrderHistory.vue'
import currencyServises from '@/core/servises/currencyServises.js'
export default {
  name: 'CurrencyBoard',
  components: {
    CurrencyPairs,
    FinancialQuote,
    OrderForm,
    OrderHistory,
  },
  data() {
    return {
      choosenCurrencyPair: {},
      currencyPairHistory: [],
      ws: null,
    }
  },
  created() {
    
  },
  methods: {
    choosePair(pair) {
      const params = {
        binSize: '1m',
        partal: false,
        count: 100,
        reverse: true,
        symbol: pair.symbol,
      }
      currencyServises.currencyPair(params).then(data => {
        this.currencyPairHistory = data.data;
      });
      this.choosenCurrencyPair = pair;
      this.ws && this.ws.close();
      this.ws = new WebSocket('wss://testnet.bitmex.com/realtime');
      this.ws.onopen = () => {
        this.ws.send(JSON.stringify({"op": "subscribe", "args": `tradeBin1m:${pair.symbol}`}))
      }
      this.ws.onmessage = data => {
        const currencyPairHistory = JSON.parse(data.data).data ? JSON.parse(data.data).data : [];
        if(currencyPairHistory[0]) {
          this.currencyPairHistory.unshift(currencyPairHistory[0]);
        }
      }
    }
  },
}
</script>
