<template>
  <div>
    <div 
    :class='["currency-pair mb-2", {"active": currencyPair.symbol === choosenPair.symbol}]' 
    v-for='(currencyPair, index) in currencyPairList' :key='index'
    @click='choosePair(currencyPair)'>
      <span>{{ currencyPair.symbol }}</span>
      <span>{{ currencyPair.lastPrice }}</span>
    </div>
  </div>
</template>
<script>
import currencyServises from '@/core/servises/currencyServises.js'
export default {
  name: 'CurrencyPairs',
  data() {
    return {
      currencyPairList: [],
      choosenPair: {},
    }
  },
  created() {
    const ws = new WebSocket('wss://testnet.bitmex.com/realtime');
    ws.onopen = function(){
      ws.send(JSON.stringify({"op": "subscribe", "args": "instrument"}))
    }
    ws.onmessage = data => {
      const newPair = JSON.parse(data.data).data[0];
      const findedPair = this.currencyPairList.find(item => item.symbol === newPair.symbol);
      if(findedPair && newPair.lastPrice) {
        findedPair.lastPrice = newPair.lastPrice;
      }
    }
    currencyServises.currencyPairs().then(response => {
      this.currencyPairList = response.data;
    })
  },
  methods: {
    choosePair(pair) {
      this.choosenPair = pair;
      this.$emit('choosePair', pair);
    }
  }
  
}
</script>
<style lang="scss" scoped>
  .currency-pair{
    display: flex;
    justify-content: space-around;
    border: 1px #ccc solid;
    cursor: pointer;
    &.active {
      border-color: red;
    }
  }
</style>
