<template>
  <div class='pair-history'>
    <div 
    class='pair-history-item mb-2'
    v-for='(item, index) in currencyPairHistory' :key='index'>
          
      <div>время свечи: {{item.timestamp}}</div>
      <div>цена открытия: {{item.open}}</div>
      <div>максимальная цена свечи: {{item.high}}</div>
      <div>минимальная цена свечи: {{item.low}}</div>
      <div>цена закрытия свечи: {{item.close}}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CurrencyPairs',
  props: {
    currencyPairHistory: {
      type: Array
    }
  },
  
}
</script>
<style lang="scss" scoped>
  .pair-history {
    max-height: 550px;
    overflow: scroll;
  }
  .pair-history-item {
    border: 1px #ccc solid;
  }
</style>
