<template>
  <div>
    <div 
    class="order-history-item mb-2"
    v-for='(item, index) in orderHistory' :key='index'>
          
      <div>id: {{item.orderID}}</div>
      <div>валютная пара: {{item.symbol}}</div>
      <div>объем: {{item.orderQty}}</div>
      <div>дата создания {{item.timestamp}}</div>
      <div>тип: {{item.side}}</div>
      <div>цена: {{item.price}}</div>
      <div>состояние: {{item.ordStatus}}</div>
    </div>
  </div>
</template>
<script>
import currencyServises from '@/core/servises/currencyServises.js'
export default {
  name: 'CurrencyPairs',
  props: {
    currencyPair: {
      type: Object
    }
  },
  data() {
    return {
      orderHistory: []
    }
  },
  created() {
    const data = {count:100};
    currencyServises.currencyOrderGet(data).then(data => {
      this.orderHistory = data.data;
    })
  },
  
}
</script>
<style lang="scss" scoped>
  .order-history-item {
    border: 1px #ccc solid;
  }
</style>
