<template>
  <div v-if='currencyPair.symbol'>
    <div>
      <input 
      type="text" 
      class="order-qty mb-2"
      @input='changeQty'
      v-model='orderQty'>
    </div>
    <div>
      <button class='btn btn-primary mr-2 buy' @click='trade("Buy")'>Купить</button>
      <button class='btn btn-danger sail' @click='trade("Sell")'>Продать</button>
    </div>
  </div>
</template>
<script>
import currencyServises from '@/core/servises/currencyServises.js'
export default {
  name: 'CurrencyPairs',
  props: {
    currencyPair: {
      type: Object
    }
  },
  data() {
    return {
      orderQty: 1
    }
  },
  methods: {
    trade(side) {
      const data = {
        symbol: this.currencyPair.symbol,
        orderQty: this.orderQty,
        side: side,
        ordType: 'Market'
      };
      currencyServises.currencyOrder(data).then(data => console.log(data))
    },
    changeQty(event) {
      this.orderQty = this.orderQty.replace(/[^\d]/g, function(m) {return ''})
    }
  }
  
}
</script>