<template>
  <div id="app">
    <CurrencyBoard/>
  </div>
</template>

<script>
import CurrencyBoard from './components/CurrencyBoard.vue'

export default {
  name: 'app',
  components: {
    CurrencyBoard
  }
}
</script>

<style lang='scss'>
@import 'node_modules/bootstrap/scss/bootstrap';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
